@charset "utf-8";

/* Base */
html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(73, 72, 72);
    background-image: url(../img/joint-7528769_1920.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

/* Reset */
header, footer, h1, h2, div, p {
    margin: 0;
    padding: 0;
}

/* Headings */
h1 {
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 2.4rem;
    color: rgb(181, 242, 252);
    background-image: radial-gradient(circle 248px at center,
        #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
h2 {
    margin: 1em 0;
    padding-left: 0.5em;
    font-size: 1.8rem;
    text-align: left;
    border-left: solid 0.5em darkgray;
}

/* Container */
.container01 {
    width: 80%;
    margin: 1.5em auto;
    padding: 1em;
    border-radius: 0.5em 1.5em;
    background-color: rgba(245, 245, 245, 0.6);
}

/* Flex */
.container01-01,
.container01-02,
.container01-03 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0.7em;
}

/* Items (初期は透明：先生の指示) */
.item01,
.item02 {
    width: 6em;
    height: 12em;
    margin: 0.5em;
    opacity: 0;
}

/* Images */
.item01 img,
.item02 img {
    width: 6em;
    transition: transform 0.3s ease;
}
.item01 img:hover,
.item02 img:hover {
    transform: scale(1.1);
}

/* Animation class */
.fade-in {
    animation: fadein 1.5s ease-out forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media screen and (max-width: 480px) {
    .container01 {
        width: 95%;
    }
}
