@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  text-align: center;
  background-blend-mode: soft-light;
  background-image: url(../img/watercolor-oil-painting-background_52683-107034.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

header,
main,
footer,
h1,
h2,
h3,
p,
div,
table,
.field,
.btn-area,
.filler01 {
  margin: 0.5em 0em 0em 0em;
  padding: 0.1em;
}

th,
td {
  line-height: 1.2em;
  padding: 0.1em;
}


/* 見出し */
h1 {
  color: rgb(165, 243, 243);
}

h2 {
  color: whitesmoke;
  font-weight: 1000;
}


/* メイン */

/* KEY 入力エリア */
.field01 {
  position: relative;
  height: 5em;
}

/* MEMO 入力エリア */
.field02 {
  position: relative;
  height: 10em;
}

/* ラベル */
label {
  position: absolute;
  left: 0.5em;
  color: whitesmoke;
  font-weight: 1000;
}

label::after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #c44;
  content: "必要";
}


/* テキストエリア */
textarea {
  position: absolute;
  top: 2em;
  left: 3em;
}

textarea::placeholder {
  color: #46aef7;
}


/* ボタン */
.btn-area {
  margin-left: 3em;
  text-align: left;
}

#save,
#select,
#delete,
#allClear {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1em;
  background: rgb(26, 212, 212);
  cursor: pointer;
}


/* テーブル */
table {
  table-layout: fixed;
  width: 80%;
  margin-left: 3em;
  border-collapse: collapse;
  opacity: 0.9;
}

table th {
  background: grey;
}

table th,
table td {
  padding: 0.5em;
  border: solid 0.1em #fff;
  color: white;
  text-align: center;
}

table tr {
  background: #46aef7;
}

.width10 {
  width: 10%;
}

.width30 {
  width: 30%;
}

.width60 {
  width: 60%;
}


/* mobile の時のスタイル */
@media screen and (max-width: 480px) {

  label {
    left: 0.1em;
  }

  textarea {
    left: 0.1em;
  }

  .btn-area {
    margin-left: 0.1em;
  }

  table {
    width: 100%;
    margin-left: 0.1em;
  }
}


/* back ボタン */
.back {
  text-align: left;
}

#btn99 {
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer;
}


/* SweetAlert */
.swal2-title,
.swal2-content {
  color: grey !important; /* FIXED */
  font-weight: bold !important;
}
/* trash icon fix */
/*.trash {
  width: 24px;
  height: 24px;
  display: inline-block;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}*/
/*.trash {
  cursor: pointer;
  font-size: 20px;
  color: red;
}*/

